<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectString"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="key" value="files/listApi.csv" />
		<add key="name" value="countries" />
		<add key="port" value="61456" />
		<add key="urls" value="localhost" />
		<add key="cntTask" value="2" />
	</appSettings>
</configuration>